html {
  box-sizing: border-box;
  font-family: 'Silkscreen', cursive;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  background: url("./images/bg-image.gif") center no-repeat;
  background-size: cover;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

.game-header {
  border: 10px solid rgb(87, 85, 72);
  text-align: center;
  margin-top: 25px;
  padding: 0 35px;
  background-color: #ccccccd6;
}

.game-header > h1 {
  font-size: 48px;
}

.game-header > p {
  font-size: 24px;
  color: brown;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100px;
  width: 800px;
  padding: 25px 40px;
  gap: 50px;
}

.buttons-container > button {
  font-size: 24px;
  font-family: 'Silkscreen', cursive;
  padding: 15px 45px;
  background-color: rgba(255, 255, 0, 0.87);
  border: 10px solid black;
}

.buttons-container > button > img {
  width: 50px;
}

.buttons-container > button:hover {
  background-color: hsla(51, 100%, 50%, 0.863);
  cursor: pointer;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #948080af;
  border: 10px solid gold;
  border-radius: 15px;
  width: 800px;
  height: 200px;
}

.round-result {
  margin-top: 5px;
  font-size: 18px;
}

.final-result {
  font-size: 24px;
  margin-top: 0;
}

.players-score {
  display: flex;
  width: 800px;
  justify-content: space-around;
}

.player {
  font-size: 24px;
}

.restart-button {
  background-color: yellow;
  font-family: inherit;
  font-size: 24px;
  padding: 15px 25px;
}

.restart-button:hover {
  background-color: gold;
  cursor: pointer;
}
.footer {
  color: white;
  width: 100%;
  background-color: #484141af;
  text-align: center;
}